body {
    overflow-x: hidden;

}


.s-hero {
    background: linear-gradient(223deg, #FFF 35.28%, #999 128.44%);
    width: 100%;
    width: 144rem;
    height: 78.3rem;
    overflow: hidden;
    .barra{
        width: 144rem;
    }
    .header {

        width: 100%;
        display: flex;
        align-items: center;
          

        ul {
            text-decoration: none;
            margin-left: 5.2rem;
            margin-top: 6.6rem;
            margin-right: 4.5rem;

            li a {

                color: #1A1918;
                font-family: "Jura", sans-serif;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }
        }

        .icon {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .icone {
                width: 2.4rem;
                height: 2.4rem;
                flex-shrink: 0;
                margin-left: 8.3rem;
                margin-top: 6.6rem;
                margin-right: 4.5rem;
            }

        }

    }

    .container {
        width: 100%;
        display: flex;
        position: relative;

        .left {

            width: 100%;
            width: 10.5rem;

            height: 50.5rem;
            position: absolute;

            .texto-vertical {
                transform: rotate(-90deg);
                width: 100%;
                top: 31rem;
                right: 2rem;
                position: relative;
                white-space: nowrap;
            }

            .arrow {
                top: 45.5rem;
                right: 1.9rem;
                position: absolute;
            }

            .texto-horizontal {
                top: 52.5rem;
                position: relative;
            }

            .frase {
                top: 61.5rem;
                left: 2.8rem;
                position: absolute;

                .seta {
                    transform: rotate(180deg);
                }
            }
        }

        .meio {

            width: 100%;
            height: 80rem;

            img {
                align-items: center;
                position: absolute;
                left: 470px;
            }

            .button-hero {
                width: 170px;
                height: 55px;
                flex-shrink: 0;
                border-radius: 20px;
                background: #1A1918;
                box-shadow: 0px 5px 8px 0px #888;
                color: #FFF;
                font-family: Jura;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                left: 27rem;
                bottom: 33rem;
                position: absolute;
            }

            .gabriel {
                color: transparent;
                -webkit-text-stroke-width: 0.2rem;
                -webkit-text-stroke-color: #000;
                font-family: Jura;
                font-size: 18rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: absolute;
                left: 32rem;
                z-index: 1;
                bottom: 40rem;
            }
            


            .portifolio {
                color: #1A1918;
                font-family: Jura;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 2.7rem;
                position: absolute;
                letter-spacing: 6.66px;
                left: 89rem;
                bottom: 40rem;
            }

        }

        .right {

            width: 100%;
            width: 10.5rem;
            height: 50.5rem;
            position: absolute;

            .texto-vertical {
                transform: rotate(90deg);
                width: 100%;
                top: 25.8rem;
                left: 123.3rem;
                position: relative;
                white-space: nowrap;
            }

            .arrow {
                top: 45.5rem;
                left: 123em;
                position: absolute;
            }

            .texto-horizontal {
                top: 52.5rem;
                left: 82em;
                text-align: right;
                position: relative;
            }

            .frase {
                top: 61.5rem;
                left: 109rem;
                position: absolute;

                .seta {
                    transform: rotate(0deg);
                }
            }
        }
    }
    @media(max-width: 1200px){
        
        
        }
        @media(max-width: 991px){
            
            
            }
        @media(max-width: 560px){
            width: 57rem;
            .barra{
                width: 57rem;
            }
            .header{
           ul{
            
            margin-left: 8rem;
            margin-top: 6.6rem;
            margin-right: 1.3rem;
           }
           }
           .container{
            .left{
                display: none;
            }
            .right{
                display: none;
            }
            .meio{
                position: relative;
                width: 27rem;
                right: 33rem;
                top: 6rem;
                justify-content: center;
                .gabriel{
                    position: absolute;
                    font-size: 13rem;
                    left: 36rem;
                    bottom: 48rem;
                }
                .button-hero{
                    position: absolute;
                    left: 51.3rem;
                    bottom: 28rem;
                }
                
                    
                    
                
            
            }
           }
        }
}

.s-info-geral {
    .barra{
        width: 144rem;
    }
    
    .imagem02 {
        background-image: url("../img/thumb-1920-1304924\ 1.jpg");
        background-repeat: no-repeat;
        width: 144rem;
        height: 68rem;
        display: flex;
        position: relative;
       

        .left {

            width: 100%;
            width: 10.5rem;
            left: 5.7rem;
            height: 50.5rem;
            position: absolute;

            .texto-vertical {
                transform: rotate(-90deg);
                width: 100%;
                top: 31rem;
                right: 2rem;
                position: relative;
                white-space: nowrap;
                color: #FFF;
            }

            .arrow {
                top: 45.5rem;
                right: 1.9rem;
                position: relative;
                stroke: #fff;
            }

            .texto-horizontal {
                top: 52.5rem;
                position: relative;
                color: #FFF;
            }

            .frase {
                top: 61.5rem;
                left: 2.8rem;
                position: absolute;
                p{
                    color: #fff;
                }

                .seta {
                    transform: rotate(180deg);
                }
            }
        }

        .right {

            width: 100%;
            width: 10.5rem;
            height: 50.5rem;
            left: 5.5rem;
            position: absolute;

            .texto-vertical {
                transform: rotate(90deg);
                width: 100%;
                top: 25.8rem;
                left: 123.3rem;
                position: relative;
                white-space: nowrap;
                color: #FFF;
            }

            .arrow {
                top: 45.5rem;
                left: 123em;
                position: absolute;
            }

            .texto-horizontal {
                top: 52.5rem;
                left: 82em;
                text-align: right;
                position: relative;
                color: #FFF;
            }

            .frase {
                top: 61.5rem;
                left: 109rem;
                position: absolute;
                p{
                    color: #fff;
                }

                .seta {
                    transform: rotate(0deg);
                }
            }

            .barra02 {
                position: relative;
                top: 70rem;
            }
        }

        .meio {
            display: flex;

            .sobre {
                width: 99.4rem;
                height: 45.6rem;
                border-radius: 2rem;
                background: rgba(0, 0, 0, 0.50);
                position: relative;
                left: 21rem;
                top: 6rem;
            }

            .right02 {
                position: relative;
                left: 4rem;

                h1 {
                    color: var(--Color, #FFF);
                    font-family: Archivo;
                    font-size: 89px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 97.5%;
                    margin: 3rem 1rem;
                }

                p {
                    width: 646px;
                    height: 250px;
                    color: #BDC2CB;
                    font-family: Archivo;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    text-align: left;
                    /* 28.8px */
                }

                button {
                    width: 170px;
                    height: 55px;
                    border-radius: 20px;
                    background: #D9D9D9;
                    box-shadow: 0px 5px 8px 0px #444;
                    color: #1A1918;
                    font-family: Jura;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    top: 35.5rem;
                    position: absolute;
                }
            }

            .left02 {
                .profile-img {
                    width: 230px;
                    height: 230px;
                    border-radius: 1000px;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    box-shadow: 0 0 20px #00000033;
                    left: 83rem;
                    top: 25rem;
                }
            }

        }
    }
    @media(max-width: 1200px){
        
        
    }
    @media(max-width: 991px){
        
        
        }
    @media(max-width: 560px){

        .barra{
            width: 57rem;
        }
    .imagem02{
        width: 57rem;
        

        
    }
        .left{
        display: none;
    }
    .right{
        display: none;
    }
    .meio{

position: relative;
right: 18rem;
width: 50rem;



     .sobre{
    height: 65rem;
     .left02{
        display: none;
        position: relative;
    right: 58rem;
    top: 30rem;
     }
     .right02{
     h1{
        position: relative;
        font-size: 75px;
        
     }
     p{
        width: 100%;
        width: 40rem;
        word-wrap: break-word;
        position: absolute;
        font-size: 15px;
        font-weight: 400;
        text-align:justify;

     }
     button{
        position: relative;
        bottom: 30rem;
        left: 12rem;
     }
     }
     
     }
    }
}

}

.s-story {
    background: #242322;
    width: 144rem;
    height: 52.3rem;
    position: relative;

    h1 {
        color: var(--Color, #FFF);
        font-family: Archivo;
        font-size: 8.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: 97.5%;
        display: flex;
        margin-top: 5rem;
        margin-bottom: 4rem;
        position: relative;
        justify-content: center;
        text-align: center;
    }

    .container {
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        left: 2rem;
        margin: 2rem;

        .skills {
            width: 13.7rem;
            height: 13rem;
            border-radius: 5rem;
            margin-left: 2rem;
            background: #ffffff;
            box-shadow: 0px 8px 40px 0px rgba(253, 253, 253, 0.25);
            position: relative;

            img {
                justify-content: center;
                align-items: center;
                position: relative;
                left: 4rem;
                top: 4rem;
            }
        }
    }

    .container-02 {
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        right: 1rem;
        margin: 2rem;

        .skills {
            width: 13.7rem;
            height: 13rem;
            margin-left: 2rem;
            border-radius: 5rem;
            background: #ffffff;
            box-shadow: 0px 8px 40px 0px rgba(253, 253, 253, 0.25);
            position: relative;

            img {
                justify-content: center;
                align-items: center;
                position: relative;
                left: 4rem;
                top: 4rem;
            }
        }
    }
    .barra02{
        position: relative;
        top: 0.4rem;
    }

    @media(max-width: 1200px){
        
        
    }
    @media(max-width: 991px){
        
        
        }
    @media(max-width: 560px){
        width: 57rem;


        .container{
           .skills{
            right: 5rem;
           }
        }
}
}

.s-character {
    background: #242322;
    width: 144rem;
    height: 76.3rem;
    position: relative;
    background-image: url("../img/1353023\ 1.jpg");
    overflow-y: hidden;
    display: flex;

    .right {
       position: relative;
       left: 40rem;
       bottom: 1rem;
       
        .skills {
            background-color: transparent;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            width: 300px;
            right: 20rem;
            top: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;

            h2 {
                font-family: Archivo;
                font-size: 24px;
                margin-bottom: 10px;
            }
            h2:hover{
                color: #999;

            }
            h2::after {
                content: '';
                position: absolute;
                left: 25%;
                top: 2.5rem;
              
                width: 10%;
                height: 2px;
                background: #999;
              
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.4s;
              }
               h2:hover::after {

                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.4s;
              
              }

            p {
                font-family: Archivo;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                border-radius: 30px;
            }

            button {
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                background-color: rgb(32, 32, 32);
                color: white;
                transition: 0.3s;
            }
            button:hover{
              color: #161616;
              box-shadow: #444 3px;
              background-color: rgb(184, 184, 184);
            }

        }
       
    }

    .left {
        position: relative;
        top: 9rem;
        left: 50rem;

        h1 {
            color: var(--Color, #FFF);
            font-family: Archivo;
            font-size: 8.9rem;
            font-style: normal;
            font-weight: 700;
            line-height: 97.5%;
            display: flex;
            margin-top: 5rem;
            margin-bottom: 4rem;
            position: relative;
            justify-content: center;
            text-align: center;
        }

        p {
            color: #BDC2CB;
            text-align: right;
            font-family: Archivo;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            position: relative;
            right: 10rem;
            /* 28.8px */
        }

        
    }
    @media(max-width: 1200px){
        
        
    }
    @media(max-width: 991px){
        
        
        }
    @media(max-width: 560px){
        width: 57rem;
        overflow-x: hidden;
        flex-direction: column-reverse;
        .left{
            display: flex;
            h1{
                right: 40rem;
                display: flex;
                bottom: 25rem;
            }
            p{
         display: none;
            }
        }
       .right{
        left: 31rem;
        bottom: 25rem;
       }
}
}
